alias ll='ls -aFGhpl'

# Program alias
alias pu='phpunit --color --bootstrap ./tests/bootstrap.php'
alias pul='pu --log-tap /tmp/.piton-phpunit-test-log.tap'
alias pur='phpunit --color --bootstrap tests/resources/bootstrap.php'
alias purl='pur --log-tap /tmp/.piton-phpunit-test-log.tap'

# Git alias
alias git-reset='git add . && git stash && git stash drop'
